*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
google-services.json
urls.json
*.class
vcs.xml

# Built application files
*.apk
*.aar
*.ap_
*.aab

# Built application files
*.apk
*.aar
*.ap_
*.aab
